

*{
    box-sizing: border-box;
}

/*estilos generales*/

h1{

    border: 10px solid grey;
    text-align: center;
    background-color:#1C6EA4;
    margin: 0px;
    padding:50px;
    width: 100%;
    float: left;

}


/*estilos propios*/


/* estilo para texto*/
/*estilos para titulo*/
.letra{
    font-size: 150px;
    color: blackblue;
}

/*estilo texto datos*/
.datos{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/*estilo texto subtitulo*/
.subtitulo{
    font-size: 25px;
    font-weight: bold;
    text-decoration-line: underline;
    text-align: center;
    align-items:center; 
}

.sub{
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    margin: 10px;
}

.infoText{
    margin: 10px;  
}


/*estilos imagenes*/

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
    background: scroll 50% 0%;
}

/* estilos iconos*/
div i{
    font-size: 20px;
    color: gray;
    margin: 7px;
}

/* estilo icono footer*/

footer i{
    font-size: 200px;
    color: gray;
    margin: 50px;
}

/* estilos video*/

.video{
    width:850px; 
    height:480px;
}


/*estilos organizacion contenedores*/

.product__details{
    /*border: 1px solid red;*/
    display: flex;
    margin-top: -50px;
    align-items: center;
    justify-content:center;
    align-items: center;
    color: black;
    width: 100%;
    float: left;
}

.contenedoriconoYTexto{
   /* border: 1px solid red;*/
    display: flex;
    margin-top: 0px;
    align-items:normal;
    align-items:center;  
    border-bottom: 2px solid white; 
    
}

.contenedoriconosYTextos{
   /* border: 1px solid red;*/
    margin-top: 0px;
    color: black;
    background-color:#1C6EA4;
    width: 16.33%;
    height: 500px;
    float: left ;    
}



.contenedorInformacion{
  /*  border: 5px solid grey;*/
    background-color:white;
    height: auto;
    width: 83.33%;
    float: right ;

}

.contenedorCentra{
    text-align: center;
    align-items:center; 
    width: 100%;
    float: left ;
}

@media (max-width:720px){
    .contenedorInformacion{
        width: 100%;
    }
    .contenedoriconosYTextos{
        /*background-color: #000000;*/
        width: 100%;
        height: auto;
    }
    .letra{
        font-size: 83px;

    }
    .video{
        width:auto; 
        height:auto;
    }

    footer i{
        font-size: 85px;
        color: gray;
        margin: 5px;
    }


}