/*estilos generales*/

h1{

    border: 10px solid grey;
    text-align: center;
    background-color:#1C6EA4;
    margin: 0px;
    padding:50px;
}



/*estilos propios*/


/* estilo para texto*/
/*estilos para titulo*/
.letra{
    font-size: 150px;
    color: blackblue;
}

/*estilo texto datos*/
.datos{
    font-size: 15px;
    font-weight: bold;
    color: white;
}



/*estilos imagenes*/

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
    background: scroll 50% 0%;
}

/* estilos icono*/
div i{
    font-size: 20px;
    color: gray;
    margin-right: 5px;
}

/* estilos video*/

.video{
    width:850px; 
    height:480px;
}


/*estilos organizacion contenedores*/

.product__details{
    /*border: 1px solid red;*/
    display: flex;
    margin-top: -50px;
    align-items: center;
    justify-content:center;
    align-items: center;
    color: black;
}

.contenedoriconoYTexto{
    border: 1px solid red;
    display: flex;
    margin-top: 0px;
    align-items:normal;
    align-items:center;    
}

.contenedoriconosYTextos{
    border: 1px solid red;
    margin-top: 0px;
    color: black;
    background-color:#1C6EA4;
    width: 300px;
    height: 500px;
}

.contenedorGeneral{
    border: 1px solid grey;
    background-color:#1C6EA4;
    margin-top: 15px;
    height: 700px;
    display: flex;

}

.contenedorInformacion{
    border: 5px solid grey;
    background-color:white;
    height: auto;
    width: 1900px;

}

.contenedorVideo{
    text-align: center;
    align-items:center; 
}